<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="true"
		 printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">
	<testsuites>
		<testsuite name="Unit Tests">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
</phpunit>